%align-center{
  margin: {
    left: auto;
    right: auto;
  };
}

%align-right{
  margin: {
    left: auto;
    right: 0;
  };
}
%align-left{
  margin: {
    left: 0;
    right: auto;
  };
}

%rounded-button{
  border-radius: 50px;
}

// BASE DE EXPACAMENTO E
// HEADING

%base-form-page{
  margin-bottom: ($gutter * 3);
  padding-top: ($gutter * 3);

  @include media('md'){
    padding-top: ($gutter * 6);
  }

  @include media('md'){
    padding-top: ($gutter * 10);
  }

  .h2{
    margin-bottom: $gutter;

    @include media('sm'){
      margin-bottom: ($gutter*2);
    }

    @include media('md'){
      margin-bottom: ($gutter*3);
      text-align: center;
    }

    @include media('lg'){
      margin-bottom: ($gutter*4);
    }

    @include media('xl'){
      margin-bottom: ($gutter*5);
    }
  }
}


%link-for-institutional{
  a{
    color: $red;
    text-decoration: none!important;
    @include transition(all .25s ease);

    position: relative;

    &:after, &:before{
      content: '';
      position: absolute;
      bottom: 0;
      height:1px;

    }

    &:after{
      background-color: $red;
      left: -2px;
      right: -2px;
      z-index: 1;
    }

    &:before{
      left: 50%;
      width: 0;
      z-index: 2;
      background-color: $blue;
      @include transition(all .25s ease);
    }

    @include _hover{
      color: $blue;

      &:before{
        left: -2px;
        width: calc(100% + 4px);
      }
    }
  }
}


%tab-and-collapse{

  .card-header,
  .nav-link {
    color: $gray-900;
    background-color: $gray-200;
    @extend %rounded-button;
    margin-right: ($gutter/3);
    @include font(pn-light);
    @include font-size(13);
    font-weight: bold;

    @include transition(all .25s ease);

    &.btn{
      outline: none!important;
      @include box-shadow(none!important);
    }
  }


  .card-header:not(.collapsed),
  .nav-link.active{
    color: $white;
    background-color: $red;
  }

  .nav-link{
    @include _hover{
      &:not(.active){
        background-color: $blue;
        color: $white;
      }
    }
  }

  &:last-of-type{
    margin-right: 0;
  }

  .show{
    > .nav-link{
      color: $white;
      background-color: $red;
    }
  } // end [ .SHOW ]
}



// TEXT ALIGN
%text-center{
  text-align: center!important;
}
%text-left{
  text-align: left!important;
}
%text-right{
  text-align: right!important;
}

// CUSTOM LINKS

%fd-link{
  @include font(pn-light);
  @include font-size(11);
  color: $gray-900;
  margin-top: $gutter;
  position: relative;
  text-decoration: none!important;

  @include transition(all .15s ease-out);

  &:before{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;

    height: 1px;
    background-color: darken($gray-200, 5%);
  }
  &:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;

    width: 0;
    height: 1px;
    background-color: $red;

    @include transition(all .15s ease-out);
  }

  @include _hover {
    color: $red;
    &:after {
      left: 0;
      width: 100%;
    }
  }

  @include media('sm'){
    @include font-size(14);
  }

  @include media('lg'){
    @include font-size(15);
  }

  @include media('xl'){
    @include font-size(16);
  }
}