/* BREAKPOINTS */
@mixin media($breakpoint, $size: min) {

  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (#{$size}-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}



// LETRA F
@mixin font($font-name){
  font-family: #{$font-name} ,sans-serif;
}

@mixin transition($args...){
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}


// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}
// translate
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
// skew
@mixin skew ($x: 0, $y: 0) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin box-shadow($args...){
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    -ms-box-shadow: $args;
    -o-box-shadow: $args;
    box-shadow: $args;
}

// opacity
@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}


@mixin make-size($height: auto, $width: auto){

  $w : $width;
  $h : $height;

  @if $h != auto {
    $h: #{$h}px;
  }

  @if $w != auto {
    $w: #{$w}px;
  }

  @if $w == auto {
    max-width: 100%;
  } @else {
    max-width: $w;
  }
  width: 100%;

  height: $h;
}


@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}


@mixin linear-gradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


// create focus and hover mixin
@mixin _hover{
  &:hover,
  &:focus{
    @content;
  }
}

// center position
@mixin _position($p: center, $string: ''){

  $a:'';
  $b:'';
  $c:'';

  @if $string != '' {
    $a: explode($string, '-');
    $b: nth($a, 1);
    $c: nth($a, 2)
  }

  position: absolute;

  @if $p == center and $string == ''{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  } @else if $p == right {
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;

  } @else if($p == center-#{$b}){
    top: auto;
    left: 0;
    right: 0;
    bottom: #{$c}px;
  } @else if $p == bottom {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


@mixin _overflow($x: hidden, $y: $x){
  overflow-x: $x;
  overflow-y: $y;
}

@mixin make-circle($x){
  height: $x;
  width: $x;
  border-radius: $x * 2;
}


@mixin flex-center{
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

@mixin font-size($size){
  font-size: #{$size}px;
  font-size: rem($size);
}

/// @example
///   .selector {
///     @include x-multiple-colored-gradient(
///         'top',
///         #f22 0%,
///         #f2f 15%,
///         #22f 30%,
///         #2ff 45%,
///         #2f2 60%,
///         #2f2 75%,
///         #ff2 90%,
///         #f22 100%
///     );
///   }
///
@mixin multiple-gradient ($args...) {

  $gradient: ();
  $pos: nth($args, 1);
  $pos_newsyntax: ();

  @if not is-valid-keyword-direction($pos) {
    $pos: 'top';
  }

  // New Syntax
  @if $pos == 'top' {
    $pos_newsyntax: 'to bottom';
  } @else if $pos == 'right' {
    $pos_newsyntax: 'to left';
  } @else if $pos == 'bottom' {
    $pos_newsyntax: 'to top';
  } @else if $pos == 'left' {
    $pos_newsyntax: 'to right';
  }

  @each $g in $args {
    @if not is-valid-keyword-direction($g) {
      $gradient: append($gradient, $g, comma);
    }
  }

  background: -webkit-linear-gradient(unquote($pos), $gradient);
  background:         linear-gradient(unquote($pos_newsyntax), $gradient);
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin scrollbar($thumb, $thumb-hover, $track, $button){
  &::-webkit-scrollbar{
    width: 6px;

    &-button {
      display: block;
      height: 0;
      border-radius: 0;
      background-color: $button;

      &:hover {
        background-color: darken($button, 10%);
      }
    }

    &-thumb{
      background-color: $thumb;
      @include box-shadow(none);

      @include transition(all $timing ease);

      &:hover{
        background-color: $thumb-hover;
        @include box-shadow(none);
      }
    }

    &-track{
      background-color: $track;

      &:hover{
        background-color: $track;
      }
    }
  }
}

@mixin change-svg-color($color){
  fill: $color!important;
  path{
    fill: $color!important;
  }
  rect{
    fill: $color!important;
  }
  polygon{
    fill: $color!important;
  }
}