// criacao [ LOCAIS ]
$fonts_location: '../fonts/';
$images_location: '../images/';
$backgrounds_location: '#{$images_location}backgrounds/';



// criacao [ PONTOS DE QUEBRA ]
// min
$breakpoints: (
        'sm'  :   576px,
        'md'  :   768px,
        'lg'  :   992px,
        'xl'  :   1200px,
        'xxl' :   1500px
) !default;
//max
$breakpointsMax: (
        'sm'  :   575px,
        'md'  :   767px,
        'lg'  :   991px,
        'xl'  :   1199px
) !default;


// criacao [ VARIAVEIS ]
// [ VARIAVEIS > TAMANHO ]
$browser-context: 16; // utilizada nas funcoes ( em, rem )
$gutter: 15px;
$columns: 12;


// [ VARIAVIES > ANIMACAO ]
$timing: .15s;

$ease: ease;
$ease-out: cubic-bezier(0.91, 0.12, 0.86, 0.29);
$fast-in: cubic-bezier(0, 0.96, 0, 0.89);

// criacao [ VARIAVEIS > CORES ]
$white: #FFFFFF;
$gray-100: #f9f7f7;
$gray-200: #f1f1f1;
$gray-300: #e2e1e2;
$gray-500: #737272;
$gray-900: #3c3c3c;
$black: #000000;

$blue: #009ad9;

$orange: #ec9350;
$lime-green: #b5c62c;
$red: #e54a50;


// social media colors
$linkedin-color: #8D6CAB;
$facebook-color: #1d3469;
$google-plus-color: #ff5d5d;


// create [ COLORS ARRAY ]
$colors: (
  "white"       $white,
  "gray-100"    $gray-100,
  "gray-200"    $gray-200,
  "gray-300"    $gray-300,
  "gray"        $gray-500,
  "black"       $black,
  "blue"        $blue,
  "dark-blue"   darken($blue, 10%),
  "orange"      $orange,
  "lime-green"  $lime-green,
  "red"         $red
);


// cria o array de fonts separados por espaco
// ex: font_name font_name font_name
$create-fonts: true;
$fonts: pn-black pn-bold pn-extrabold pn-light pn-medium pn-regular pn-semibold pn-thin oswald-lt;

// create [ WEBFONTS ]
$open_sans: 'Open Sans';



// LISTA COM A CORES DISPONIVEIS PARA A LISTAGEM DE CURSOS
$cursos: (
  "lancamento" $orange $lime-green,
  "disciplina" $red $orange,
  "completo" $lime-green $red
);
