html, body{
  position: relative;
}

body{
  min-height: 100%;
  padding-top: 110px;

  @include media('md'){
    padding-top: 160px;
  }
}

.fd_signature{
  position: relative;
  height: 0;
  max-width: 1500px;
  width: 100%;
  @include flexbox;
  @include justify-content(flex-end);
  @include align-items(center);

  a{
    text-indent: -90000px;
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 130px;
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);

    #fator_signature{
      height: 50px;
      float: right;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      @include translate(0, -80%);
    }
  }
}
