/* BREAKPOINTS */
@font-face {
  font-family: "pn-black";
  src: url("../fonts/pn-black.eot");
  src: url("../fonts/pn-black.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-black.woff2") format("woff2"), url("../fonts/pn-black.woff") format("woff"), url("../fonts/pn-black.ttf") format("truetype"), url("../fonts/pn-black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-bold";
  src: url("../fonts/pn-bold.eot");
  src: url("../fonts/pn-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-bold.woff2") format("woff2"), url("../fonts/pn-bold.woff") format("woff"), url("../fonts/pn-bold.ttf") format("truetype"), url("../fonts/pn-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-extrabold";
  src: url("../fonts/pn-extrabold.eot");
  src: url("../fonts/pn-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-extrabold.woff2") format("woff2"), url("../fonts/pn-extrabold.woff") format("woff"), url("../fonts/pn-extrabold.ttf") format("truetype"), url("../fonts/pn-extrabold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-light";
  src: url("../fonts/pn-light.eot");
  src: url("../fonts/pn-light.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-light.woff2") format("woff2"), url("../fonts/pn-light.woff") format("woff"), url("../fonts/pn-light.ttf") format("truetype"), url("../fonts/pn-light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-medium";
  src: url("../fonts/pn-medium.eot");
  src: url("../fonts/pn-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-medium.woff2") format("woff2"), url("../fonts/pn-medium.woff") format("woff"), url("../fonts/pn-medium.ttf") format("truetype"), url("../fonts/pn-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-regular";
  src: url("../fonts/pn-regular.eot");
  src: url("../fonts/pn-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-regular.woff2") format("woff2"), url("../fonts/pn-regular.woff") format("woff"), url("../fonts/pn-regular.ttf") format("truetype"), url("../fonts/pn-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-semibold";
  src: url("../fonts/pn-semibold.eot");
  src: url("../fonts/pn-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-semibold.woff2") format("woff2"), url("../fonts/pn-semibold.woff") format("woff"), url("../fonts/pn-semibold.ttf") format("truetype"), url("../fonts/pn-semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "pn-thin";
  src: url("../fonts/pn-thin.eot");
  src: url("../fonts/pn-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/pn-thin.woff2") format("woff2"), url("../fonts/pn-thin.woff") format("woff"), url("../fonts/pn-thin.ttf") format("truetype"), url("../fonts/pn-thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "oswald-lt";
  src: url("../fonts/oswald-lt.eot");
  src: url("../fonts/oswald-lt.eot?#iefix") format("embedded-opentype"), url("../fonts/oswald-lt.woff2") format("woff2"), url("../fonts/oswald-lt.woff") format("woff"), url("../fonts/oswald-lt.ttf") format("truetype"), url("../fonts/oswald-lt.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  position: relative; }

body {
  min-height: 100%;
  padding-top: 110px; }
  @media only screen and (min-width: 768px) {
    body {
      padding-top: 160px; } }

.fd_signature {
  position: relative;
  height: 0;
  max-width: 1500px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .fd_signature a {
    text-indent: -90000px;
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    .fd_signature a #fator_signature {
      height: 50px;
      float: right;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 0;
      right: 0;
      -moz-transform: translate(0, -80%);
      -o-transform: translate(0, -80%);
      -ms-transform: translate(0, -80%);
      -webkit-transform: translate(0, -80%);
      transform: translate(0, -80%); }
