.banner-home{

  position: relative;
  overflow: hidden;

  .owl-item{
    .item{
      display: block;

      img{
        width: 100%;
        display: block;
      }
    } // end [ .ITEM ]
  } // end [ .OWL-ITEM ]


  .owl-nav{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0;

    @include translate(0, -50%);

    [class*="olw-"]{
      background-color: rgba($white, .5);
    }

    .owl{
      &-prev, &-next{
        padding: 0;
        height: 70px;
        width: 50px;
        border-radius: 0;

        background-color: $blue;

        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        position: absolute;
        top: 50%;
        @include translate(0, -50%);

        @include transition(all .25s ease);

        .fd-svg{
          height: 35px;
          width: 35px;
        }

        @include _hover{
          background-color: $lime-green;
        }
      }

      &-prev{
        left: -100px;
      }

      &-next{
        right: -100px;
      }
    }

  } // end [ .OWL-NAV ]

  .owl-dots{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    .owl-dot{
      span{
        margin: 0 6px;
        background-color: $gray-200;
      }

      &.active{
        span{
          background-color: $blue;
        }
      }
    } // end [ .OWL-DOT ]
  } // end [ .OWL-DOTS ]

  @include _hover{
    .owl-nav{
      .owl{

        &-prev{
          left: 0;
        }

        &-next{
          right: 0;
        }
      }
    }
  }
} // end [ .BANNER-HOME ]


[data-carousel="cursos-home"]{
  .item{
    background-color: $gray-100;
    border-bottom: 10px solid $red;
    padding-bottom: 85px;

    a{
      text-decoration: none!important;
    }

    >a{
      display: block;
    }

    figure{
      height: 200px;
      width: 100%;
      overflow: hidden;
      margin: 0;
    }

    .content{
      padding: ($gutter/2) $gutter;

      h5{
        color: $red;
        text-transform: uppercase;

        @include font(pn-regular);
        @include font-size(11);

        display: inline-block;

        a{
          color: $red;
        }
        @include _hover{
          a{
            color: $blue;
          }
        }
      }

      h2{
        @include font-size(17);
        @include font(pn-medium);

        span{
          display: block;
          @include font(pn-light);
        }
        a{
          color: $gray-900;
        }
        @include _hover{
          a{
            color: $blue;
          }
        }
      }
      p{
        @include font-size(12);
        a{
          color: $gray-900;
        }

        @include _hover{
          a{
            color: $blue;
          }
        }
      }

      h2, h5, p{
        a{
          @include transition(all .25s ease);
        }
      }

      @include media('sm'){
        h5{
          @include font-size(12);
        }

        h2{
          @include font-size(19);
        }
        p{
          @include font-size(13);
        }
      }
      @include media('sm'){
        h5{
          @include font-size(12);
        }

        h2{
          @include font-size(19);
        }
        p{
          @include font-size(13);
        }
      }

      @include media('lg'){
        h5{
          @include font-size(14);
        }

        h2{
          @include font-size(21);
        }
        p{
          @include font-size(14);
        }
      }

      @include media('xl'){
        padding: $gutter ($gutter*2);

        h5{
          @include font-size(15);
        }

        h2{
          @include font-size(23);
        }
        p{
        }
      }

    } // end [ .CONTENT ]

    .item-footer{
      @include flexbox;
      @include justify-content(space-around);
      @include align-items(center);

      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;

      height: 75px;

      .btn-red{
        margin: 0;
      }
    }

    .price-home{
      h4{
        @include font(pn-light);
        @include font-size(14);
        color: $gray-900;

        strong{
          font-size: percentage( 58px / 25px);
          @include font(pn-extrabold);
        }
        small{
          @include font(pn-extrabold);
        }
        span{
          display: block;
          text-align: center;
          position: relative;

          &:before{
            content: attr(data-separator);
          }
        }
      }
    } // end [PRICE-HOME ]
  } // end [ .ITEM ]

  @include media('md'){
    .item{
      figure{
        height: 140px;
      }
    }
  }

  @include media('lg'){
    .item{
      figure{
        height: 190px;
      }
    }
  }

  @include media('xl'){
    .item{
      figure{
        height: 243px;
      }
    }
  }
} // end [ .CAROUSEL-CURSOS-HOME ]


[data-carousel="depoimentos-home"]{
  position: relative;
  width: 85%;
  margin: {
    left: auto;
    right: auto;
  }

  .item{

    padding: $gutter;

    .item-content{
      text-align: center;
      text-decoration: none!important;
      p{
        @include font(pn-regular);
        @include font-size(12);
        font-style: italic;
        color: lighten($gray-500, 5%);
        margin: 0;
      }
    }

    h5{
      @include font(pn-medium);
      @include font-size(14);
      font-style: italic;
      text-align: center;
      margin-top: ($gutter * 2);

      small{
        display: block;
        font-size: percentage(16px / 20px);
        color: lighten($gray-500, 5%);
      }
    }
  }

  .owl-nav{
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0;
    height: 0;

    .owl{

      &-prev, &-next{
        position: absolute;
        top:0;
        background-color: transparent!important;

        .fd-svg{
          @include change-svg-color($red);

          height: 40px;
          width: 40px;
        }
      }

      &-prev{
        left: (-$gutter * 2);
      }

      &-next{
        right: (-$gutter * 2);
      }
    }
  }

  @include media('sm'){
    .item{
      padding: $gutter ($gutter * 2);

      .item-content{
        p{
          @include font-size(13);
        }
      }

      h5{
        @include font-size(16);
      }
    }
  }

  @include media('md'){
    width: 75%;

    .owl-nav{
      .owl{
        &-prev{
          left: (-$gutter * 4);
        }
        &-next{
          right: (-$gutter * 4);
        }
      }
    }
  }

  @include media('xl'){
    width: 60%;
  }

} // end [ DATA-CAROUSEL [ DEPOIMENTOS-HOME ] ]

[data-carousel="institucional"]{
  .item{
    height: 50vh;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
  } // end [ .ITEM ]

  .owl-dots{

    .owl-dot{
      span{
        margin: 0 3px;
        height: $gutter;
        width: $gutter;
        background-color: $gray-300;

        @include transition(all .15s ease);
      }

      @include _hover{
        span{
          background-color: $red;
        }
      }

      &.active{
        span{
          background-color: $blue;
        }
      }
    } // end [ .OWL-DOT ]
  } // end [ .OWL-DOTS ]


  @include media('xl'){
    .item{
      height: 374px;
    }
  }
} // end [ DATA-CAROUSEL [ INSTITUCIONAL ] ]

[data-carousel="curso-interna"]{

  height: 300px;
  overflow: hidden;

  margin-bottom: $gutter;

  @include media('md'){
    margin-bottom: ($gutter * 3);
  }
} // end [ DATA-CAROUSEL [ CURSO-INTERNA ] ]